:host {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  overflow: hidden;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-footer {
    background-color: #333;
    padding: 5px 20px;
    color: white;

    p {
      margin-block-end: 3px;
    }

    pre {
      margin-top: 0;
    }

    .empty-icon {
      color: #666;
      text-align: center;
      margin-bottom: 20px;

      mat-icon {
        height: 60px;
        width: 60px;
        font-size: 60px;
      }
    }
  }
}